<a title="" href='/cart/edit/<%="#{model}#{color}#{cordo}"%>'> 
<img src="/images/<%="#{model}#{color}#{cordo}"%>.jpg" alt="" name="<%="#{name}"%>" width="113" height="106" border="0" 
  id="<%="#{name}"%>"/>
</a>
<img src="/images/bar_blue00.gif" width="113" height="2" border="0">
