<div align="center">
  <div id="contingut">
      <!-- col 1 -->
      <div align="left" class="col_marca_1">
      <img width="239" height="6" border="0" src="/images/bar_blue04.gif">   
          <div class="cesta_dest1">
          CESTA
          </div>
          <div class="cesta_ico"><img width="193" height="149" border="0" src="/images/cesta_ico.jpg"></div>
          
          
      <div><img width="239" height="6" border="0" src="/images/bar_blue04.gif"></div>  
        </div>
      <!-- col 2 -->
      <div align="left" class="col_marca_2">
      <img width="491" height="3" border="0" src="/images/bar_blue02.gif">  
      <div class="cesta_dest2">
          La cesta está vacía.<br>
       </div>
       <div class="cesta_dest5"> <br>
  Puedes acceder aquí cuando hayas seleccionado <br>tus zapatillas No pintas nada.<br><br>
   
  Gracias!
  
       </div>  
        <img width="491" height="3" border="0" src="/images/bar_blue02.gif">    </div>
  </div>
</div>
