
    <!-- col 1 -->
        <div class="col_marca_1" align="left">
        <img src="/images/bar_grey01.gif" height="2" width="239" border="0">   
        <div class="contacto_dest1">CONTACTO</div>
            <div class="interrogant">       <img src="/images/interrogant.jpg" height="226" width="168" border="0">   </div>
        <img src="/images/bar_grey01.gif" height="2" width="239" border="0">   

    </div> 
    <!-- col 2 -->
    <div class="col_marca_2" align="left">
    <img src="/images/bar_grey02.gif" height="3" width="491" border="0">  
    <div class="cesta_dest2"><font style="color: rgb(95, 90, 89);">
        Mensaje enviado<br></font>
     </div>
     <div class="cesta_dest5"><font style="color: rgb(95, 90, 89);"> <br>
   Nos pondremos en contacto contigo<br>
                con la mayor brevedad posible.<br><br>
                ¡Muchas gracias!<br><br></font>

     </div>  
      <img src="/images/bar_grey02.gif" height="3" width="491" border="0">    </div>
    
