<div id="contingut">
    <!-- col 1 -->
    <div align="left" class="col_marca_1">
    <img border="0" width="239" height="6" src="/images/bar_blue04.gif">   
        <div class="cesta_dest1">
        CESTA
        </div>
        <div class="cesta_ico"><img border="0" width="193" height="149" src="/images/cesta_ico.jpg"></div>
        
        
    <div><img border="0" width="239" height="6" src="/images/bar_blue04.gif"></div>  
      </div>
    <!-- col 2 -->
    <div align="left" class="col_marca_2">
    <img border="0" width="491" height="3" src="/images/bar_blue02.gif">  
    <div class="cesta_dest2">
        Felicidades, tu compra<br> se ha realizado con éxito!<br>
     </div>
     <div class="cesta_dest5"> <br>
En los próximos 10 días laborables recibirás tus<br> No pintas nada a la dirección que has indicado.<br><br><br>

Muchas gracias y hasta pronto.<br><br><br>
 
El equipo de No pintas nada<br><br>

     </div>  
      <img border="0" width="491" height="3" src="/images/bar_blue02.gif">    </div>
    </div>
